<section class="flex mb-5 colors">
  <div class="p-4 bg-redbrown-100">redbrown-100</div>
  <div class="p-4 bg-redbrown-200">redbrown-200</div>
  <div class="p-4 bg-redbrown-300">redbrown-300</div>
  <div class="p-4 bg-redbrown-400">redbrown-400</div>
  <div class="p-4 text-white bg-redbrown-500">redbrown-500</div>
  <div class="p-4 text-white bg-redbrown-600">redbrown-600</div>
  <div class="p-4 text-white bg-redbrown-700">redbrown-700</div>
  <div class="p-4 text-white bg-redbrown-800">redbrown-800</div>
  <div class="p-4 text-white bg-redbrown-900">redbrown-900</div>
</section>

<section class="flex mb-5 colors">
  <div class="p-4 bg-brown-100">brown-100</div>
  <div class="p-4 bg-brown-200">brown-200</div>
  <div class="p-4 bg-brown-300">brown-300</div>
  <div class="p-4 text-white bg-brown-400">brown-400</div>
  <div class="p-4 text-white bg-brown-500">brown-500</div>
  <div class="p-4 text-white bg-brown-600">brown-600</div>
  <div class="p-4 text-white bg-brown-700">brown-700</div>
  <div class="p-4 text-white bg-brown-800">brown-800</div>
  <div class="p-4 text-white bg-brown-900">brown-900</div>
</section>

<section class="flex mb-5 colors">
  <div class="p-4 bg-metal-100">metal-100</div>
  <div class="p-4 bg-metal-200">metal-200</div>
  <div class="p-4 bg-metal-300">metal-300</div>
  <div class="p-4 bg-metal-400">metal-400</div>
  <div class="p-4 bg-metal-500">metal-500</div>
  <div class="p-4 bg-metal-600">metal-600</div>
  <div class="p-4 bg-metal-700">metal-700</div>
  <div class="p-4 bg-metal-800">metal-800</div>
  <div class="p-4 text-white bg-metal-900">metal-900</div>
</section>

<section class="flex mb-5 colors">
  <div class="p-4 bg-yellow-100">yellow-100</div>
  <div class="p-4 bg-yellow-200">yellow-200</div>
  <div class="p-4 bg-yellow-300">yellow-300</div>
  <div class="p-4 bg-yellow-400">yellow-400</div>
  <div class="p-4 bg-yellow-500">yellow-500</div>
  <div class="p-4 bg-yellow-600">yellow-600</div>
  <div class="p-4 text-white bg-yellow-700">yellow-700</div>
  <div class="p-4 text-white bg-yellow-800">yellow-800</div>
  <div class="p-4 text-white bg-yellow-900">yellow-900</div>
</section>

<section class="flex mb-5 colors">
  <div class="p-4 bg-red-100">red-100</div>
  <div class="p-4 bg-red-200">red-200</div>
  <div class="p-4 bg-red-300">red-300</div>
  <div class="p-4 bg-red-400">red-400</div>
  <div class="p-4 text-white bg-red-500">red-500</div>
  <div class="p-4 text-white bg-red-600">red-600</div>
  <div class="p-4 text-white bg-red-700">red-700</div>
  <div class="p-4 text-white bg-red-800">red-800</div>
  <div class="p-4 text-white bg-red-900">red-900</div>
</section>

<section class="flex mb-5 colors">
  <div class="p-4 bg-gold-100">gold-100</div>
  <div class="p-4 bg-gold-200">gold-200</div>
  <div class="p-4 bg-gold-300">gold-300</div>
  <div class="p-4 bg-gold-400">gold-400</div>
  <div class="p-4 text-white bg-gold-500">gold-500</div>
  <div class="p-4 text-white bg-gold-600">gold-600</div>
  <div class="p-4 text-white bg-gold-700">gold-700</div>
  <div class="p-4 text-white bg-gold-800">gold-800</div>
  <div class="p-4 text-white bg-gold-900">gold-900</div>
</section>
