{# <div class="text-yellow-400 fill-current bg-redbrown-50 custom-shape-divider">
	<svg
		data-name="Layer 1"
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 1200 120"
		preserveAspectRatio="none"
	>
		<path
			d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z"
			class="shape-fill"
		></path>
	</svg>
</div> #}

<section id="corona" class="bg-yellow-400">
	<div class="max-w-4xl px-8 py-10 mx-auto md:w-3/4">
		<h2 class="mt-0">Aandacht! Corona regels</h2>
		<p>
			Beste patiënten, omwille van de Covid-19 pandemie dienen wij extra
			maatregelen te nemen om de raadpleging zo vlot en veilig mogelijk te laten
			verlopen.
		</p>

		<p class="p-4 my-4 text-red-600 bg-yellow-300 border border-gray-800">
			Wij vragen om het gezonde verstand te laten primeren. Indien jullie zelf
			ziek zijn, zieke partner of kinderen in huis hebben of in aanraking
			gekomen zijn met zieke mensen vragen wij vriendelijk om
			<strong>de gemaakte afspraak te annuleren</strong>. Dit voor jullie eigen
			gezondheid, maar ook voor de gezondheid van onze medewerkers en de andere
			(kwetsbare) patiënten. Wij vragen aan alle patiënten die op raadpleging
			komen om een <strong>mondmasker</strong> te dragen.
		</p>

		<div class="text-base flow">
			<h3 class="text-3xl">Enkele basis preventieregels</h3>
			<ul class="list-disc list-inside">
				<li>
					Bij het binnenkomen en bij het verlaten van de praktijk de
					<strong>handen grondig te wassen</strong>
				</li>
				<li>
					Ons team wast en desinfecteert zowel VOOR als NA elke behandeling hun
					handen
				</li>
				<li>
					<strong>Beperk de tijd in de wachtzaal</strong> tot een minimum. Kom
					stipt op tijd ipv (veel) te vroeg.
				</li>
				<li>
					Tracht zoveel mogelijk <strong>alleen aanwezig</strong> te zijn op de
					afspraak.
				</li>
				<li>
					Enkel indien U zwanger bent mag (enkel) uw partner mee op raadpleging
					komen
				</li>
			</ul>

			<p class="text-base">
				Bij een geplande bevalling of heelkundige ingreep zal de patiënt eerst
				een corona-screening moeten ondergaan. Deze test zal twee dagen voor de
				opname worden gepland. Uiteraard zijn een mondmasker, social distancing
				en handhygïene verplicht in ons ziekenhuis.
			</p>

			<p class="text-base">
				Daarnaast is er met uitzondering van materniteit, neonatologie en
				pediatrie (enkel ouders/partner) geen bezoek meer toegelaten in ons
				ziekenhuis.
			</p>
			<p class="text-base">
				Voor bijkomende informatie kan u steeds contact opnemen met het
				secretariaat via email (<a href="mailto:info@obgyn.be">info@obgyn.be</a
				>) of telefonisch (<a href="tel:003238287896">03/828 78 96</a>).
			</p>
			<p class="text-base">
				Alvast bedankt om deze maatregelen in acht te nemen. Zodoende kunnen we
				de komende weken de praktijk geopend houden en alles vlot laten
				verlopen. <br />Samen staan we sterk tegen het Corona-virus.
			</p>
		</div>
	</div>
	{#
	<div class="w-1/4">lkjflkdfj</div>
	#}
</section>
{#
<div class="text-yellow-400 bg-redbrown-100 fill-current custom-shape-divider">
	<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
    <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill" fill="currentColor"></path>
  </svg>
</div> #}
