<div id="contact" class="max-w-5xl mx-auto my-10 md:mb-20 md:mt-10">
  <div class="max-w-4xl px-4 mx-auto my-8 sm:px-8">
    <h2 class="py-4 pb-0 font-semibold text-center text-gold-200">Heerlijk eten van onze BBQ Grill</h2>
  </div>
	<div class="flex flex-col justify-center px-4 py-4 my-4 text-center sm:block lg:mt-0">
		<a id="telbtn" class="inline-block px-6 py-3 m-1 mr-3 text-white no-underline bg-redbrown-700 rounded-sm shadow-xl button hover:bg-redbrown-600 hover:text-white font-heading" href="tel:003238287896">Bel 03/828 78 96
		</a>
		<a id="mailbtn" class="inline-block px-6 py-3 m-1 text-white no-underline bg-redbrown-600 rounded-sm shadow-xl button hover:bg-redbrown-500 hover:text-white font-heading" href="mailto:secretariaat@obgyn.be">
			Mail ons
		</a>

	</div>

  <hr class="w-1/2 mx-auto mt-10 border border-redbrown-200">

  <h1 class="px-4 mt-6 text-2xl text-center text-brown-500">Contactgegevens</h1>

  <div class="mt-4 xl:flex">
		<div class="gap-4 px-3 mb-5 text-lg xl:w-2/3 sm:flex md:flex-1 md:mb-0">
			<address class="flex-1 p-4 not-italic text-center sm:text-right">
				<a class="no-underline text-brown-800" href="https://goo.gl/maps/RYDURubGUuPoZ7iY7">
        <strong class="font-bold">Gynaecologiepraktijk OBGYN Antwerpen</strong> <br>
				Beukenlaan 10a bus 1 <br>
				2020 Antwerpen <br>
        </a>
			</address>
			<p class="flex-1 p-4 text-center sm:text-left">
				Tel: <a href="tel:003238287896">03/828 78 96</a><br>

				Fax: 03/ 825 24 14<br>

				Email:
				<a href="mailto:secretariaat@obgyn.be ">secretariaat@obgyn.be</a><br>
			</p>
		</div>
    <div class="px-4 mt-2 text-center xl:w-1/3 xl:text-left">
      <p>Openingsuren van het secretariaat: <br> Wij zijn alle weekdagen geopend van 09u tot 15u en 18u tot 21u, behalve op vrijdag, dan sluiten wij om 15u.</p>
    </div>
	</div>

</div>

