
<section class="text-gray-600 body-font">
	<div class="container px-5 py-24 mx-auto">
		<div
			class="flex flex-col items-start mx-auto lg:w-2/3 sm:flex-row sm:items-center"
		>
			<h1
				class="flex-grow text-2xl font-medium text-gray-900 sm:pr-16 title-font"
			>
				Slow-carb next level shoindxgoitch ethical authentic, scenester sriracha
				forage.
			</h1>
			<button
				class="flex-shrink-0 px-8 py-2 mt-10 text-lg text-white bg-indigo-500 border-0 rounded focus:outline-none hover:bg-indigo-600 sm:mt-0"
			>
				Button
			</button>
		</div>
	</div>
</section>

<div class="py-8 bg-redbrown-50 container-break">
	<div class="w-full max-w-5xl mx-auto">
		<div class="my-4">
			<div
				class="flex flex-col items-center justify-center mx-auto max-w-7xl sm:px-6 md:px-8 md:flex-row md:justify-between"
			>
				<h2 class="text-4xl tracking-tight">
					<span class="block text-brown-500">Maak een afspraak</span>
				</h2>
				<div class="flex mt-8 md:mt-0 md:flex-shrink-0">
					<div class="inline-flex rounded-md shadow">
						<a
							href="#"
							class="inline-flex items-center justify-center px-5 py-3 text-base font-semibold text-redbrown-100 no-underline transition duration-150 ease-in-out bg-redbrown-500 border border-transparent rounded-md button hover:bg-redbrown-600 hover:text-white"
							>Contacteer Ons</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
