
{# <div class="text-redbrown-300 bg-redbrown-200 fill-current custom-shape-divider">
	<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill" fill="currentColor"></path>
    </svg>
</div> #}
<section id="gynaecologie" class="py-10 bg-redbrown-200">
	<div class="container max-w-5xl px-8 my-8">
		<div class="mt-8 text-center">
			<h2 class="my-8 text-brown-700">Gynaecologie, Menopauze, Fertiliteit</h2>

      <p>U kan bij ons terecht voor een <strong>preventief gynaecologisch onderzoek</strong>, <strong>contraceptie</strong>,  <strong>bekkenbodemproblemen</strong>, <strong>vruchtbaarheidsproblemen</strong>, <strong>borstproblemen</strong> en andere <strong>gynaecologische problemen</strong>. Wij werken intensief samen met de andere gynaecologen van het <a href="https://www.gzaziekenhuizen.be/">St. Augustinusziekenhuis</a>.  Soms kan het gebeuren dat wij u voor specifieke onderzoeken en behandelingen doorverwijzen naar de gynaecoloog met de <strong>meeste bekwaamheid</strong> binnen onze dienst gynaecologie van het <a href="https://www.gzaziekenhuizen.be/">St. Augustinusziekenhuis</a>. Deze wisselwerking garandeert voor u de beste behandeling waar u als patiënt centraal staat.</p>
		</div>

	<article class="items-center p-6 mt-8 transition-shadow duration-300 ease-in-out bg-redbrown-100 border rounded shadow-sm hover:shadow-lg sm:flex"><div class="relative flex-1 content"><h1 class="m-0 text-2xl font-bold text-brown-500">Baarmoederhalskanker</h1><div class="mt-2"><p><strong>Baarmoederhalskanker</strong> is kanker van de baarmoederhals. Deze kanker en zijn voorlopers wordt opgespoord via een <strong>uitstrijkje</strong> van de baarmoederhals (PAP-smear). Baarmoederhalskanker is geassocieerd met de aanwezigheid van het humaan papillomavirus (HPV). U kan zich tegen bepaalde subtypes van dit virus laten vaccineren.</p></div></div></article>

  <article class="items-center p-6 mt-8 transition-shadow duration-300 ease-in-out bg-redbrown-100 border rounded shadow-sm hover:shadow-lg sm:flex"><div class="relative flex-1 content"><h1 class="m-0 text-2xl font-bold text-brown-500">Contraceptie</h1><div class="mt-2"><p>Via deze link kan u alle interessante informatie vinden over de verschillende vormen van contraceptie: <a href="https://www.vvog.be/sites/default/files/patientenbrochures/740_pc_msd_brochure_nl_20160826_full_spread.pdf">Wat is het beste voorbehoedsmiddel voor jou ?</a></p></div></div></article>

  <article class="items-center p-6 mt-8 transition-shadow duration-300 ease-in-out bg-redbrown-100 border rounded shadow-sm hover:shadow-lg sm:flex"><div class="relative flex-1 content"><h1 class="m-0 text-2xl font-bold text-brown-500">Sensoa</h1><div class="mt-2"><p>alle informatie over seks en seksueel overdraagbare aandoeningen. allesoverseks.be - van Sensoa. <a href="https://www.allesoverseks.be/">https://www.allesoverseks.be/</a></p></div></div></article>

  <article class="items-center p-6 mt-8 transition-shadow duration-300 ease-in-out bg-redbrown-100 border rounded shadow-sm hover:shadow-lg sm:flex"><div class="relative flex-1 content"><h1 class="m-0 text-2xl font-bold text-brown-500">Borstkanker</h1><div class="mt-2"><p>Borstkanker is een kwaadaardig gezwel in de borst. Bij vrouwen van 50 tot en met 69 jaar groeit borstkanker vaak langzaam. Vroegtijdige opsporing is daarom belangrijk. Hoe vroeger borstkanker wordt ontdekt, hoe groter de kans op volledige genezing. <a href="https://borstkanker.bevolkingsonderzoek.be/nl/borstkanker">https://borstkanker.bevolkingsonderzoek.be/nl/borstkanker</a></p></div></div></article>


	</div>

</section>
