<div class="items-center p-4 border sm:flex">
  <div class="flex-1 content">
    <h1 class="m-0 text-2xl font-bold">
    {% if post.data.title %} {{ post.data.title }} {% else %} Untitled {%
					endif %}
          </h1>
    <p class="mt-2">
      of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
    </p>
  </div>
  <div class="pt-4 link sm:w-1/4 sm:pl-8">
    <a href="#" class="block px-4 py-3 text-center text-white bg-redbrown-400 rounded">Link ></a>
  </div>
</div>