<section id="welcome" class="py-8 bg-gold-900">
	<div class="max-w-5xl mx-auto mb-8">
		<div class="flex-wrap gap-8 px-8 sm:flex">
			<div class="flex-1 flow">
				<h2 class="text-3xl font-semibold text-gold-300">Algemene Info</h2>
				<h3 class="mt-2 mb-2 text-xl text-gold-300">
					Welkom bij onze praktijk
				</h3>
				<p>
					Op onze gynaecologische praktijk gelegen in de Beukenlaan te Antwerpen
					zijn er <a href="#doctors">drie artsen</a> werkzaam: <a href="#profile-dr.-tina-vanderheyden">Dr. Tina Vanderheyden</a> en <a href="#profile-dr.-ben-de-becker">Dr. Ben De Becker</a> zijn gespecialiseerd in de
					<strong>algemene gynaecologie</strong> en
					<strong>verloskunde</strong>. Zij hebben een bijkomende
					subspecialiteit: <strong> hoogrisico verloskunde</strong> en
					<strong> prenatale diagnostiek</strong> . Deze bijzondere beroepstitel
					werd behaald na een bijkomend fellowship. Gynaecologe Dr. Fleur Van de
					Peer is momenteel bezig met haar fellowship prenatale diagnostiek in
					het St.Augustinusziekenhuis. U kan bij haar op vrijdag terecht in onze
					praktijk.
				</p>
			</div>
			<div class="mt-2 sm:mt-14 sm:w-5/12 flow">
				<h3 class="text-xl font-semibold text-black">Sint Augustinusziekenhuis</h3>
				<h4 class="mt-0 mb-2 text-lg text-brown-700">
					Wij werken samen met het St. Augustinusziekenhuis
				</h4>
				<p>
					in <strong> Wilrijk</strong> waar het zorgaanbod voortdurend wordt
					aangepast aan nieuwe evoluties en behoeften van patiënten en
					zorgverstrekkers. Het Sint Augustinusziekenhuis is sinds vele jaren
					bekend om zijn
					<strong> gespecialiseerde moeder- en kindzorg</strong> en beschikt
					over een <strong> intensieve dienst materniteit</strong> en een
					<strong> intensieve neonatologie</strong> .
				</p>
				<p>
					Op onze website kan u informatie vinden over de praktijk en zijn er
					verscheidene links naar
					<a href="#patiënteninformatie">patiënteninformatie</a> en het St.
					Augustinusziekenhuis.
				</p>
			</div>
		</div>
	</div>
</section>
